@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Roboto:wght@300&family=Space+Mono&display=swap');
body{
  /* font-family: 'Kaisei Decol', serif;
font-family: 'Roboto', sans-serif; */
}
.App {
 width:900px;
 margin: 60px auto;
 height: 100vh;
 background-color: rgb(255, 255, 255);
 display: flex;
 /* font-family: 'Kaisei Decol', serif;
font-family: 'Roboto', sans-serif; */
}
.navbar{
  width: 200px;
 height: 100vh;
 background-color: rgb(237, 237, 237);
 font-family: 'Space Mono', monospace;



}
.navbar h1{
  margin: 20px 55px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 60px;
}
.navbar h1:hover{
  color: #666;
}
.link:hover{
  background-color: #d1d1d1;
} 

.link{
  display: block;
  color: black;
  text-decoration: none;
  margin: 20px 30px;
  border-radius: 20px;
  padding: 10px 20px;
  
}
/* .link:hover{
  background-color: #d1d1d1;
} */
/* .link:active{
  background-color: #aeadad;
  font-weight: 600;
} */
.page{
  width: 600px;
}
 .aboutcontainer{
  padding: 40px 70px;
}
.aboutcontainer h1{
  font-family: 'Space Mono', monospace;
}
.aboutcontainer h2{
  font-family: 'Space Mono', monospace;
}
.aboutcontainer h3{
  font-family: 'Space Mono', monospace;
}
.homecontainer{
  padding: 40px 70px;
}
.homecontainer h1{
  font-family: 'Space Mono', monospace;
}
.homecontainer h3{
  font-family: 'Space Mono', monospace;
}
/* .homecontainer h4{
  font-family: 'Space Mono', monospace;
} */
.feature-box{
  gap: 15px;
  align-items: center;
  margin: 35px 0;
}

.profile-img{
  width: 90px;
  height: 90px;
  background-image: url("jp.jpg");
  background-size: cover;
  cursor: pointer;
  border-radius: 50%;
}

.profile-img:hover{
  cursor: pointer;
  background-position-x: -25px;
  background-position-y: 2px;
  background-image: url("jp.jpg");
}

.featured-links{
  flex-direction: column;
}

.featured-link{
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.featured-link-text{
  margin: 5px 0 5px 0;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 19px;
  text-decoration: none;
}
.skillcontainer{
  margin: 0;
}
.skillcontainer p{
  margin: 0;
}

/* .social-btns{
  gap:10px;
  margin-top: 35px;
}

.profile-social-btn{
  align-items: center;
  gap: 4px;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(115, 115, 115);
}

.profile-social-btn:hover{
  color: black;
} */
.flex{
  display: flex;
  flex-wrap: wrap;
}
/* contack page */

.contactcontainer{
  padding: 40px 70px;
}


.contactcontainer h1 {
  font-family: 'Space Mono', monospace;
   
   
}

.contactcontainer p {
 
    
    color: #666;
}

.contactcontainer ul {
    list-style: none;
    padding: 0;
   
    margin-top: 20px;
}

.contactcontainer li {
    margin-bottom: 10px;
}

.contactcontainer a {
    text-decoration: none;
    color: #353535;
    font-weight: bold;
}

.contactcontainer a:hover {
    color: #000000;
}
/* project */
.projectcontainer{
  padding: 40px 0 0px 70px;
}
.mywork-container{
  padding: 40px 70px;
}
.projectdiv{
  width: 500px;
  padding: 30px;
  height: 150px;
  border-radius: 20px;
  border: 1px solid lightslategray;
}
.projectdiv h2{
  margin: 0;
  padding: 0;
}
.projectdiv a{
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Space Mono', monospace;
}
.aflex{
  display: flex;
  margin-top: 20px;
  gap:20px;
}
.mywork-container{
  padding-bottom: 25px;
}
/* my projects */

.main-box{
  flex-direction: column-reverse;
  border: .5px solid lightgrey;
  border-radius: 18px;
  /* margin-bottom: 55px; */
 
  box-shadow: 10px 12px 10px 10px #eee;
}

.box{
  padding: 1.5rem;
}

.box-links{
  gap: 12px;
}

.box-link{
  gap: 8px;
  align-items: center;
  background-color: #eee;
  padding: 1rem;
  border-radius: 12px;
}

.box-link:hover{
  background-color: #00ff3c84;
}

.project-img{
  width: 100%;
  border-radius: 18px 18px 0 0;
}
/* responsive */

@media only screen and (max-width: 900px) {
  .navbar{
    display: flex;
    height: 100px;
    /* flex-direction: row; */
    /* justify-content: center; */
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* margin-top: -8px; */
    position: fixed;
    margin: 0;
    
    /* margin-left:10px ; */
   
  }
  .navbar a{
    width: 20%;
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
 

    
    margin-bottom: 30px;
    font-weight: 700;
    

    
  }
  .navbar a:hover{
    background-color: inherit;
    color: inherit;
  }
  .navbar a:active{
    background-color: inherit;
    color: inherit;
  }

  .navbar h1{
  display: none;
    /* margin-bottom: 0;
    font-size: 3.4rem;
    position: absolute;
    top: 0;
    margin-right: 290px; */
  }

  .App{
    margin: 0;
    max-width: 100%;
    /* padding-bottom: 30px; */
    
  }
  .App .page{
    width: 80%;
    padding: 70px 15px 0;
    margin: 5px auto;
  }

  .page-h1{
    margin-top: 50px;
  }

  .aboutpage-buttons{
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .aboutpage-buttons a{
    width: 60%;
    
  }
  .aboutcontainer{
    padding: 0;
  }


   .projectcontainer{
    margin-top: 30px;
    padding: 0;
  }
  .contactcontainer{
    margin-top: 30px;
    padding: 0 0 0 50px;
  }
  .con{
    font-size: 12px;
   
  }
  .homecontainer{
    padding: 0;
  }

  .projectdiv{
    width: 330px;
    margin-top: 50px !important;
    margin: 10px;
  }
  .projectdiv a{
    padding: 4px;
    width: 60px;
  }

}